[init]
	defaultBranch = main
[user]
	name = Marcos Carrera
	email = marcos.crs@yahoo.com
[credential]
	credentialStore = gpg
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[status]
	showUntrackedFiles = no
