[init]
	defaultBranch = master
[user]
	email = ramoscarrerr@gmail.com
	name = Marcos Carrera
[credential]
	credentialStore = gpg
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
